<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Cadastro</title>

</head>

<body class="fixed-nav sticky-footer" style="background-color: gray" id="page-top">
 <app-navbar></app-navbar>
  <div class="content-wrapper">
    <div class="container-fluid">
      
      <!-- Cadastro de Funcionário-->
      <div class="row">
          <form id="formulario" #funcionario="ngForm" (ngSubmit)="Enviou(funcionario)">
            <div class="form-group">
                <label for="nome">Nome</label>
                <input type="text" class="form-control" id="nome" placeholder="Nome" style="width: 500px;" ngModel name="nome">
            </div> 
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" placeholder="nome@email.com" style="width: 500px;" ngModel name="email">
            </div> 
            <div class="form-group">
                <label for="idade">Idade</label>
                <input type="number" class="form-control" id="idade" placeholder="18,19,20..." style="width: 500px;" ngModel name="idade">
            </div> 
            <div class="form-group">
                <label for="sala">Sala</label>
                <input type="text" class="form-control" id="sala" placeholder="Vermelha, Amarela, Azul ou Roxa." style="width: 500px;" ngModel name="sala">
            </div> 
            <div class="form-group">
                <label for="cargo">Cargo</label>
                <input type="text" class="form-control" id="cargo" placeholder="Secretario, Atendente, etc..." style="width: 500px;" ngModel name="cargo">
            </div> 
            <button type="submit" class="btn btn-primary">Enviar</button>
          </form>
      </div>
      
    </div>
    <!-- /.container-fluid-->
    <!-- /.content-wrapper-->
    <footer class="sticky-footer">
      <div class="container">
        <div class="text-center" id="footer">
          <small>Copyright © CincoS 2018</small>
        </div>
      </div>
    </footer>
    
    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
    <!-- Page level plugin JavaScript-->
    <script src="vendor/chart.js/Chart.min.js"></script>
    <script src="vendor/datatables/jquery.dataTables.js"></script>
    <script src="vendor/datatables/dataTables.bootstrap4.js"></script>
    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin.min.js"></script>
    <!-- Custom scripts for this page-->
    <script src="js/sb-admin-datatables.min.js"></script>
    <script src="js/sb-admin-charts.min.js"></script>
  </div>
</body>

</html>
